@import "tailwindcss";

:root {
    --color-primary: #1e40af;
    /* Deep blue from logo */
    --color-secondary: #facc15;
    /* Accent yellow from logo */
    --color-background: #0b0b10;
    /* Dark background tone from logo */
    --color-foreground: #f9fafb;
    /* Light foreground for text */
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}