@import "tailwindcss";

:root {
  --color-primary: #630053;
  --color-accent: #f7b100;

  --color-background: #000000;
  --color-surface: #111827;

  --color-foreground: #e5e7eb;
  --color-muted: #9ca3af;

  --color-border: #171717;

  --color-danger: #ef4444;
  --color-warning: #f97316;
  --color-info: #0ea5e9;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.25);
  --shadow-md: 0 8px 24px rgba(0, 0, 0, 0.35);
}

html.light {
  --color-primary: #630053;
  --color-accent: #f7b100;

  --color-background: #ffffff;
  --color-surface: #f9fafb;

  --color-foreground: #020617;
  --color-muted: #64748b;

  --color-border: #e5e5e5;

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0 12px 32px rgba(0, 0, 0, 0.08);
}

body {
  /* font-family:
    var(--font-inter),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif; */
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button {
  cursor: pointer;
}
